<div class="card">
    <div class="card-body">
        
        <h2>{{postagem.titulo}}</h2>
        <hr>
        <small>Data da publicação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>